@import url('https://fonts.googleapis.com/css?family=Lato|Quicksand:400,500,700');

$family-primary: BlinkMacSystemFont, -apple-system, "Lato", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default$navbar-item-img-max-height: 3.5rem;
$navbar-item-hover-color: #f19300;
$primary: #f19300;
$title-size: 2.25rem;

@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";
@import "../../node_modules/bulma/sass/elements/content.sass";
@import "../../node_modules/bulma/sass/elements/box.sass";
@import "../../node_modules/bulma/sass/elements/image.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/components/media.sass";
@import "../../node_modules/bulma/sass/layout/hero.sass";
@import "../../node_modules/bulma/sass/layout/section.sass";
@import "../../node_modules/bulma/sass/layout/footer.sass";
@import "../../node_modules/bulma/sass/grid/columns.sass";

@font-face {
  font-family: $family-primary;
  font-display: swap;
}

.footer {
  color: $grey-darker;

  a {
    color: darken($link, 25%);
  }
}

.button.is-primary {
  color: $grey-darker
}

.hero {
  background: url(../images/main_bg.jpg) no-repeat center;
  background-size: cover;
  height: 25rem;

  .hero-body {
    text-align: center;
    display: flex;
    align-items: center;
    .title {
      color: white;
    }
    .subtitle {
      color: white;
    }
    @media screen and (min-width: $widescreen) {
      .title {
        font-size: 3.75rem;
      }
      .subtitle {
        font-size: 2.5rem;
      }
    }
    @media screen and (min-width: $desktop) and (max-width: $widescreen - 1px) {
      .title {
        font-size: 3rem;
      }
      .subtitle {
        font-size: 2rem;
      }
    }
    @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
      .title {
        font-size: 2.5rem;
      }
      .subtitle {
        font-size: 1.5rem;
      }
    }
  }
}

@media screen and (min-width: $desktop) and (max-width: $widescreen - 1px) {
  .hero {
    background: url(../images/main_bg_desktop.jpg) no-repeat center;
  }
}
@media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
  .hero {
    background: url(../images/main_bg_tablet.jpg) no-repeat center;
  }
}
@media screen and (max-width: $tablet - 1px) {
  .hero {
    background: url(../images/main_bg_mobile.jpg) no-repeat center;
  }
}

.title {
  font-family: "Quicksand", sans-serif;
}

.subtitle {
  font-family: "Quicksand", sans-serif;
}

figure.is-centered {
  align-self: center;
}

.has-border {
  border: 1px solid #ccc;
}

.navbar-brand > .navbar-item {
  padding: 0.75rem 2rem 0.75rem 0.75rem;
}

.navbar-burger {
  margin-top: auto;
  margin-bottom: auto;
}

.titles {
  background-color: rgba(25, 31, 31, 0.7);
  padding: 1rem;
}

.social-link {
  padding-bottom: 1rem;

  a {
    svg {
      font-size: 2.5em;
      vertical-align: middle;
      padding-right: 0.25rem;
    }
  }
}

a.social-google-plus {
  color: darken(#D03F2C, 10%);
  &:hover {
    text-decoration: underline;
  }
  &:hover,
  &:focus,
  &:visited {
    color: darken(#D03F2C, 15%);
  }
}

a.social-twitter {
  color: darken(#1AB2E8, 20%);
  &:hover {
    text-decoration: underline;
  }
  &:hover,
  &:focus,
  &:visited {
    color: darken(#1AB2E8, 25%);
  }
}

section.clients {
  .clients-links {
    display: flex;
    flex-wrap: wrap;

    .client-link {
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      padding: 2rem;
      min-width: 125px;

      img {
        filter: grayscale(100%);
      }

      &:hover {
        img {
          filter: none;
        }
      }
    }
  }
}

section.offres {
  .content {
    h3 {
      font-size: 1rem;
      font-weight: bold;
      padding: 0;
      margin: 0;
    }
  }
}

#map-canvas {
  height: 50vw;
  max-height: 450px;
}

svg.fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -.125em;
  width: 1em;
  font-style: inherit;
  font-weight: inherit;
  fill: currentcolor;
}

.weeknotes {
  margin-top: 3em;
  min-height: calc(100vh - 605px);
}
